.hero {
  padding-bottom: 100px;

  @include mobile-l {
    padding-bottom: 30px;
  }

  &__slides {
    display: block;
    width: 100%;
    max-width: 1065px;
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 1065px;
  }
}
