<section class="also">
  <div class="container-small also__container">
    <span class="also__subtitle">You may also like</span>
    <ul class="also__list list-reset">


      <li class="also__item">
        <div class="also__image-inner">
          <picture>
            <source srcset="img/also-image-left.avif" type="image/avif">
            <source srcset="img/also-image-left.webp" type="image/webp">
            <source srcset="img/also-image-left.jpg">
            <img src="img/also-image-left.jpg" width="273" loading="lazy" alt="photo of an empty winter road">
          </picture>
        </div>
        <a class="also__title-link" href="#">
          <h3 class="also__title">Cold winter days</h3>
        </a>
      </li>

      <li class="also__item">
        <div class="also__image-inner">
          <picture>
            <source srcset="img/also-image-center.avif" type="image/avif">
            <source srcset="img/also-image-center.webp" type="image/webp">
            <source srcset="img/also-image-center.jpg">
            <img src="img/also-image-center.jpg" width="273" loading="lazy"
              alt="in the photo a man stands with his back against the backdrop of mountains">
          </picture>
        </div>
        <a class="also__title-link" href="#">
          <h3 class="also__title">A day exploring the Alps</h3>
        </a>
      </li>

      <li class="also__item">
        <div class="also__image-inner">
          <picture>
            <source srcset="img/also-image-right.avif" type="image/avif">
            <source srcset="img/also-image-right.webp" type="image/webp">
            <source srcset="img/also-image-right.jpg">
            <img src="img/also-image-right.jpg" width="273" loading="lazy"
              alt="two women on the background of a large bridge show someone with their hands a sign of peace">
          </picture>
        </div>
        <a class="also__title-link" href="#">
          <h3 class="also__title">American dream</h3>
        </a>
      </li>


    </ul>
  </div>
</section>
