<section class="comments">
  <div class="container-small comments__container">
    <span class="comments__subtitle">2 Comments</span>
    <ul class="comments__list list-reset">


      <li class="comments__item">
        <div class="comments__inner">
          <div class="comments__image-inner">
            <picture>
              <source srcset="img/comment-image-top.avif" type="image/avif">
              <source srcset="img/comment-image-top.webp" type="image/webp">
              <source srcset="img/comment-image-top.jpg">
              <img class="comments__image" src="img/comment-image-top.png" width="70" loading="lazy"
                alt="author comment photo">
            </picture>
          </div>
          <div class="comments__author">
            <span class="comments__author-name">John Doe</span>
            <p class="comments__author-comment">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo!
            </p>
            <button class="comments__author-reply-btn btn-reset">Reply</button>
          </div>
        </div>
      </li>

      <li class="comments__item">
        <div class="comments__inner">
          <div class="comments__no-photo">
            <span class="comments__no-photo-icon">jd</span>
          </div>
          <div class="comments__author">
            <span class="comments__author-name">Jane Doe</span>
            <p class="comments__author-comment">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
            </p>
            <button class="comments__author-reply-btn btn-reset">Reply</button>
          </div>
        </div>
      </li>

      <li class="comments__item">
        <div class="comments__inner">
          <div class="comments__no-photo comments__no-photo--textarea">
            <span class="comments__no-photo-icon">jd</span>
          </div>
          <textarea class="comments__textarea" placeholder="Join the discussion"
            aria-label="messaging field"></textarea>
        </div>
      </li>


    </ul>


    <div class="comments__social">
      <span class="comments__social-text">Connected with</span>
      <ul class="comments__social-list list-reset">

        <li class="comments__social-item">
          <a class="comments__social-link comments__social-link--twitter" href="#"
            aria-label="link icon to go to Twitter"></a>
        </li>
        <li class="comments__social-item">
          <a class="comments__social-link comments__social-link--facebook" href="#"
            aria-label="link icon to go to Facebook"></a>
        </li>

      </ul>
    </div>
  </div>
</section>
