<section class="hero">
  <div class="container hero__container">


    <ul class="hero__slides list-reset">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="hero__slide">
              <div class="hero__image-inner">
                <picture>
                  <source srcset="img/hero-bg.avif" type="image/avif">
                  <source srcset="img/hero-bg.webp" type="image/webp">
                  <source srcset="img/hero-bg.jpg">
                  <img class="hero__image" src="img/hero-bg.jpg" width="1065"
                    alt="photodiary - the perfect weekend gataway">
                </picture>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="hero__slide">
              <div class="hero__image-inner">
                <picture>
                  <source srcset="img/hero-bg.avif" type="image/avif">
                  <source srcset="img/hero-bg.webp" type="image/webp">
                  <source srcset="img/hero-bg.jpg">
                  <img class="hero__image" src="img/hero-bg.jpg" width="1065"
                    alt="photodiary - the perfect weekend gataway">
                </picture>
              </div>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="hero__slide">
              <div class="hero__image-inner">
                <picture>
                  <source srcset="img/hero-bg.avif" type="image/avif">
                  <source srcset="img/hero-bg.webp" type="image/webp">
                  <source srcset="img/hero-bg.jpg">
                  <img class="hero__image" src="img/hero-bg.jpg" width="1065"
                    alt="photodiary - the perfect weekend gataway">
                </picture>
              </div>
            </li>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </ul>


  </div>
</section>
